/* Список лекций */
.b-lectures

  &__label
    display: block
    margin: 20px 0

  &__input
    height: 40px
    outline: none
    border: none
    border-bottom: 1px solid #8f9894
    color: #000
    font-size: (30/16)*1em
    line-height: 1.4em

    &:focus
      border-color: #626a66

  &__list
    margin: 0
    padding: 0
    list-style: none

  &__item
    margin-bottom: 10px
    padding: 20px
    width: 600px
    border: 1px solid #e1e1e1

  &__link
    color: #0040d0

  &__title
    color: #000
    font-weight: 700
    font-size: (35/16)*1em
    line-height: 1em

  &__author
    margin: 10px 0 0
    font-size: (25/16)*1em
    line-height: 1em

    &:first-letter
      color: #ff0000

  &__author-link
    border-bottom: 1px dashed #a9a9a9
    color: #a9a9a9
    text-decoration: none

  &__photo
    margin: 20px 0 0
    width: 100px
    border-radius: 50%