/* Внешние шрифты */
@import "_fonts.styl"

/* Глобальные стили */
@import "_globals.styl"

/* Обвязка */
@import "_b-page.styl"

/* Шапка */
@import "_b-header.styl"

/* Сайдбар */
@import "_b-sidebar.styl"

/* Основной контент */
@import "_b-main.styl"

/* Карточка студента */
@import "_b-student.styl"

/* Карточка лектора */
@import "_b-lecturer.styl"

/* Список лекций */
@import "_b-lectures.styl"

/* Карточка лекции */
@import "_b-lecture.styl"

/* Подвал */
@import "_b-footer.styl"

/* Всплывающие, модальные окна */
@import "_b-popup.styl"

/* Responsive CSS */
@import "_responsive.styl"