<header class="b-main__header">Школа</header>
<ul class="b-main__list b-main__list_state_hidden">
    <li class="b-main__item g-clf">
        <img class="b-main__photo" src="http://img-fotki.yandex.ru/get/9511/33991531.0/0_aa0ce_77bf55b7_M" alt=""/>
        <a class="b-main__name" href="#">Антон Кузнецов</a>
    </li>
    <li class="b-main__item g-clf">
        <img class="b-main__photo" src="http://img-fotki.yandex.ru/get/9511/33991531.0/0_aa0ce_77bf55b7_M" alt=""/>
        <a class="b-main__name" href="#">Антон Кузнецов</a>
    </li>
    <li class="b-main__item g-clf">
        <img class="b-main__photo" src="http://img-fotki.yandex.ru/get/9511/33991531.0/0_aa0ce_77bf55b7_M" alt=""/>
        <a class="b-main__name" href="#">Антон Кузнецов</a>
    </li>
    <li class="b-main__item g-clf">
        <img class="b-main__photo" src="http://img-fotki.yandex.ru/get/9511/33991531.0/0_aa0ce_77bf55b7_M" alt=""/>
        <a class="b-main__name" href="#">Антон Кузнецов</a>
    </li>
</ul>